body {
    font-family: 'Montserrat';

}
#title {
    background-color: #ff4c68;
    color: white;

}

.container-fluid{
    padding: 3% 15% 7%;
}

h1{
    font-family: "Montserrat";
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: 900;
    
}

h2{
    font-family: "Montserrat";
    line-height: 1.5;
    font-size: 3rem;
    font-weight: 900;
}


h3{
    font-family: "Montserrat";
    
    font-weight: 900;
    
}

p{
    color: #8f8f8f;
}

/* navigation bar */

.navbar{
    padding: 0 0 4.5rem;

}

.navbar-brand{
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 2.5rem;
}

.navbar-brand span{
    color: rgba(179, 157, 34, 0.705);
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}

/* Download button */

.dw-btn{
    margin: 5% 3% 5% 0;
}

/* title image */

.tposition{
    position: relative;
    text-align: center;
}

.title-image{
    width: 50%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* features  section */

#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
    /* z-index: 1; */
}



.feature-box{
    text-align: center;
    padding: 3%;

}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

/* testimonial section */

#testimonials{

    text-align: center;
    background-color: #ff4c68;
    color: white;

}

.carousel-item{
    padding: 7% 15%;
    

}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 10px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing{
    text-align: center;
    padding: 7% 15%;

}

.pricing-card>div{
    padding: 10px;
}
    
/* cta */

#cta{
    background-color: #ff4c68;
    
    padding: 7% 15%;
    text-align: center;


}

.cta-text{
    font-family: "Montserrat";
    
    font-weight: 900;
    color: white;

    font-size: 90px;
}

/* footer */

#footer{
    padding: 2% 15%;
    text-align: center;
}

.social-icon{
    margin: 10px 20px;
}

/* media query */

@media (max-width: 1200px){
    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
    }
}
